<div class="main-w3layouts wrapper mainProj">
    <form method="post" asp-action="Acceptance" asp-controller="MedicineOperationsServices">
		<div >
        <div class="AddressKobol">
         <h1 class="HAddress">الغاء عملية التعطيل
             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
               <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
               <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
             </svg>
             </h1>
     </div>
        <div class="container kobol ">
            <div class="heading SAddress" >
                <span class="kobolSpan">معلومات الوحدة</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-layers kobolSpanI" viewBox="0 0 16 16">
                  <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zm3.515 7.008L14.438 10 8 13.433 1.562 10 4.25 8.567l3.515 1.874a.5.5 0 0 0 .47 0l3.515-1.874zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
                </svg>
            </div>
            
                <div class="card-details">
                    <div class="card-box mb-3">
                        <label class="operInputs FormFile" for="FormFile" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                            </svg> Form File
                        </label>
                        <input type="file" id="FormFile" style="display:none"/>
                    </div>
                    <div class="card-box mb-3">
                        <input class="operInputs"  type="text" placeholder="داتاماتريكس"/>
                    </div>
                    <div class="card-box mb-3">
                        <input class="operInputs"  type="text" placeholder="رقم بند التجارة العالمي*" required/>
                    </div>
                    <div class="card-box mb-3">
                        <input class="operInputs" type="text" placeholder="الرقم التسلسلي*" required/>
                    </div>
                    <div class="card-box mb-3">
                        <input class="operInputs" type="text" placeholder="رقم الدفعة*" required/>
                    </div>
                    <div class="card-box mb-3">
                        <input class="operInputs"  type="date" placeholder="تاريخ انتهاء الصلاحية*" required/>
                    </div>
                </div>
                
                
                </div>
        </div>
        <div class="Sbutton mb-4">
           <button type="submit">
               الإدراج
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                
           </button>
    </div>
        </form>
</div>