/*:root {
    --main-color: #1995D5;
    --text-color: #59625F;
    --main-transition: 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    font-family: 'Tajawal', sans-serif;
    display: flex;
    justify-content: center;
    direction: rtl;
}
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;

}*/

form {
    padding: 20px;
}

form .title {
    color: var(--main-color);
    border-bottom: 1px solid #777;
    padding: 20px;
}

.message {
    background-color: #D7E4F7;
    border-radius: 10px;
    margin-top: 20px;
}

.message p {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.message i {
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #8AB6E5;
    font-size: 40px;
    padding: 10px;
}

section {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 /10%);
}

section .title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    color: var(--text-color);
}

section .title i {
    margin-left: 10px;
}

section h4 {
    color: var(--text-color);
}

section .fields {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
section select {
    width: 100% ;
    padding: 5px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    background-color: white;
    color: var(--text-color);
    position: relative;
}

section input {
    padding: 15px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    background-color: white;
    transition: var(--main-transition);
    color: black
}
section textarea {
    border: 0;
    outline: none;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    background-color: white;
    transition: var(--main-transition);
    color: black;
    grid-column: span 2;
}

section input::placeholder {
    color: var(--text-color);
}

section:nth-child(3) input:nth-child(2) {
    grid-column: 1 / span 1;
}

section input:hover,
section input:focus,
form section:nth-child(4) label:hover {
    border-bottom-color: #1995D5;
    box-shadow: 0 5px 20px rgb(0 0 0 /20%);
}

form section:nth-child(4) label {
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    padding: 15px;
    transition: var(--main-transition);
}

form section:nth-child(4) label i {
    margin-right: 10px;
}

form section:nth-child(4) input:nth-child(3) {
    grid-column: 1 / span 2;
}

input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button {
    background-color: var(--main-color);
    color: white;
    border: 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--main-transition);
    box-shadow: 0 5px 20px rgb(0 0 0 /10%);
}

button:hover {
    background-color: #36bcff;
}

button i {
    margin-left: 10px;
}

.signature {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:10px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.md-form
{

}