body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a span {
        color: #06578d;
        background-color: white;
        border-radius: 30px;
        display: inline-block;
        padding: 5px 8px;
    }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 7px;
        color: #fff;
        font-size: 16px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a > span {
          padding: 5px 20px;
          display: inline-block;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          border-radius: 30px; }
    .site-navbar .site-navigation .site-menu > li > a:hover > span {
            background: #06578d;
            color: #fff;
            border-radius: 30px;
            display: inline-block;
        }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a span {
        position: relative;
        padding-right: 30px; }
        .site-navbar .site-navigation .site-menu .has-children > a span:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 10px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #007bff;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #007bff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #fafafb; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
            position: relative; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:after {
              position: absolute;
              right: 0;
              content: "\e315";
              right: 20px;
              font-family: 'icomoon'; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #fafafb; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children:hover > a span, .site-navbar .site-navigation .site-menu .has-children:focus > a span, .site-navbar .site-navigation .site-menu .has-children:active > a span {
          background: #007bff;
          color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #f8f9fa; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

/*ÕÝÍÇÊ ÇáÚãáíÇÊ
*/
.kobol {
    max-width: 700px;
    width: 100%;
    padding: 30px 30px;
    margin-top: 1%;
    border-radius: 25px;
    background: linear-gradient(135deg,#b3d7ff0d,white);
}

.FinishDate {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.Sdetails
{
    color:white
}

.SAddress {
    margin-bottom: 4%;
    text-align: right;
    background-color: #005482;
    border-color: white;
    border-radius: 12px;
    color: white;
    width:95%
}
.kobolSpan {
    margin-right: 1%;
    font-size: 2rem;
}
.kobolSpanI {
    margin-bottom: 3%;
    margin-right: 3%;
}

.operInputs {
    text-align: right;
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgb(0 84 130);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(92deg,#d5e9e7,#ffffff00);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #005482;
    font-family: 'Roboto', sans-serif;
}

.operInputs::placeholder {
    color:#005482
}

.Sbutton
{
    text-align:center
}

.Sbutton button {
    font-weight: 900;
    color: #006bbd;
    background: white;
    outline: none;
    border: 1px solid #006bbd;
    cursor: pointer;
    padding: 0.5em;
    -webkit-appearance: none;
    width: 30%;
    margin-top: 1.8em;
    text-align: right;
    border-radius: 15px;
}
.FormFile {
    text-align: left
}
.DateDiv {
    text-align: right;
}
.DateLable {
    padding-right: 3.8em;
    color: #005482;
}

.m3ayyer {
    max-width: 700px;
    width: 100%;
    padding: 30px 30px;
    margin-top: 4%;
    border-radius: 25px;
    background: linear-gradient(92deg,#d5e9e7,white);
    height:96.5%
}

    .m3ayyer input {
        margin-bottom: 27px;
        text-align: right;
        font-size: 0.9em;
        color: #fff;
        font-weight: 100;
        width: 94.5%;
        display: block;
        border: none;
        padding: 0.8em;
        border: solid 1px rgb(0 84 130);
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
        background: linear-gradient(92deg,#d5e9e7,white);
        background-position: -800px 0;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #005482;
        font-family: 'Roboto', sans-serif;
    }
.m3ayyer input::placeholder {
    color:#005482
}

    .m3ayyer select {
        margin-bottom: 27px;
        text-align: right;
        font-size: 0.9em;
        color: #fff;
        font-weight: 100;
        width: 94.5%;
        display: block;
        border: none;
        padding: 0.8em;
        border: solid 1px rgb(0 84 130);
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
        background: linear-gradient(92deg,#d5e9e7,white);
        background-position: -800px 0;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #005482;
        font-family: 'Roboto', sans-serif;
    }
.m3ayyer select::placeholder {
    color:#005482
}

.drugSell {
    margin-top: 3rem;
    margin-bottom: 2.4rem;
}
.Address {
    text-align: right;
    background-color: white;
    color: #005482;
    padding-bottom: 1%;
    margin-top: 7%;
    border-radius: 15px;
    letter-spacing: normal;
    padding-right: 2%;
}

.mainProj {
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/hero_2.jpg');
}

.AddressKobol {
    width: 45%;
    margin-left: 28%;
}
.HAddress {
    text-align: right;
    background-color: white;
    color: #005482;
    padding-bottom: 1%;
    margin-top: 10%;
    border-radius: 15px;
    letter-spacing: normal;
    padding-right: 2%;
}

.DSell {
    width: 100%;
    padding: 30px 30px;
    margin-top: 4%;
    border-radius: 25px;
    background: linear-gradient(135deg,#b3d7ff,white);
}


.DrugCancle {
    width: 100%;
    padding: 30px 30px;
    margin-top: 4%;
    border-radius: 25px;
    background: linear-gradient(92deg,#d5e9e7,white);
    height:79%
}

    .DrugCancle input {
        margin-bottom: 27px;
        text-align: right;
        font-size: 0.9em;
        color: #fff;
        font-weight: 100;
        width: 94.5%;
        display: block;
        border: none;
        padding: 0.8em;
        border: solid 1px rgb(0 84 130);
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
        background: linear-gradient(92deg,#d5e9e7,#ffffff00);
        background-position: -800px 0;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #005482;
        font-family: 'Roboto', sans-serif;
    }
.DrugCancle input::placeholder {
    color:#005482
}

    .DrugCancle select {
        margin-bottom: 27px;
        text-align: right;
        font-size: 0.9em;
        color: #fff;
        font-weight: 100;
        width: 94.5%;
        display: block;
        border: none;
        padding: 0.8em;
        border: solid 1px rgb(0 84 130);
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
        background: linear-gradient(92deg,#d5e9e7,#ffffff00);
        background-position: -800px 0;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #005482;
        font-family: 'Roboto', sans-serif;
    }
.DrugCancle select::placeholder {
    color:#005482
}

.DrobTest a {
    text-decoration: none;
}

.DrobTest nav {
    font-family: monospace;
}

.DrobTest ul {
    background: white;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.DrobTest li {
    color: #06578d;
    background: white;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
  
.DrobTest li a {
  color: #fff;
}

.DrobTest li:hover,
.DrobTest li:focus-within {
  background: #06578d;
  color:white;
  cursor: pointer;
}

.DrobTest li:focus-within a {
  outline: none;
}

.DrobTest ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;

}

.DrobTest ul li:hover > ul,
.DrobTest ul li:focus-within > ul,
.DrobTest ul li ul:hover,
.DrobTest ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.DrobTest ul li ul li {
  clear: both;
  width: 100%;
}

.DrobTest{
    display:inline
}

.tog {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 45rem;
    width: 250px;
    position: absolute;
    background: #06578d;
    z-index:1;
    transition:.5s ease;
    transform:translateX(-250px);
}
.tog .head{
    background:white;
    height:7rem
}

.tog ul
{
    width:100%;
    list-style:none;
    text-align:right;
}

.tog ul li{
    display:block;
    width:100%;
}

.tog ul li a{
    color:white;
    padding:15px 10px;
    text-decoration:none;
    display:block;
    font-size:20px;
    position:relative;
    transition:.3s;
    overflow:hidden;
    text-transform:capitalize
}

.tog ul li:hover a
{
    background:white;
    color:#06578d;
}

.sty input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;

}

.sty .labsp {
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: white;
    padding: 3px 8px;
    cursor: pointer;
    background: #000
}

#bars
{
    background:red
}